<%- include('header.ejs'); %>
    <%- include('sidebar.ejs'); %>
    <div class="right_col" role="main">
            <div class="">
              <div class="page-title">
                <div class="title_left">
                  <h3>Kid Profile</h3>
                </div>
  
                <div class="title_right">
                  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="clearfix"></div>
  
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Kid Report</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                          <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive img-rounded avatar-view" src="<%= kid.photo %>" alt="Avatar" title="Change the avatar">
                          </div>
                        </div>
                        <h3><%= kid.firstName %> <%= kid.fatherName %> <%= kid.lastName %> / <%= kid.baptismName %>
                        </h3>
  
                        <ul class="list-unstyled user_data">
                          <li><i class="fa fa-map-marker user-profile-icon"></i> <%= kid.address %>
                          </li>
  
                          <li>
                              <% if(kid.gender == "Male"){%>
                            
                            <i class="fa fa-male user-profile-icon"></i> <%= kid.gender %>
                            <% }else{%>
                            <i class="fa fa-female user-profile-icon"></i> <%= kid.gender %>

                            <%}%>
                          </li>
  
                          <li class="m-top-xs">
                            <i class="fa fa-calendar user-profile-icon"></i> <b>Birth Date:</b> <%= new Date(kid.birthDate).toDateString() %>
                          </li>
                          <li class="m-top-xs">
                                <i class="fa fa-calendar user-profile-icon"></i> <b>Registered At:</b> <%= new Date(kid.registrationDate).toDateString() %>
                              </li>
                        </ul>
  
                        <a class="btn btn-success disabled"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                        <br />
  
  
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-12">
  
                        <div class="profile_title">
                          <div class="col-md-6">
                            <h2>Kid Activity Detail</h2>
                          </div>
                         
                        </div>
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Guardian Information</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Kid School Detail</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Kid Roaster</a>
                            </li>
                          </ul>
                          <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
  
                              <!-- start recent activity -->
                              <ul class="messages">
                                <li>
                                  <img src="<%= kid.guardianInformation.guardianPhoto %>" class="avatar" alt="Avatar">
                                  <div class="message_date">
                                    <h3 class="date text-info"><%= kid.guardianInformation.guardianRelationship %></h3>
                                    <!-- <p class="month">May</p> -->
                                  </div>
                                  <div class="message_wrapper">
                                    <h4 class="heading"><%= kid.guardianInformation.guardianFullName %></h4>
                                    <blockquote class="message"><b>Phone Number: </b><%= kid.guardianInformation.guardianPhoneNumber %></blockquote>
                                    <blockquote class="message"><b>Occupation: </b><%= kid.guardianInformation.guardianOccupation %></blockquote>
                                    <blockquote class="message"><b>Address: </b><%= kid.guardianInformation.guardianAddress %></blockquote>
                                    <br />
                                    <p class="url">
                                      <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                    </p>
                                  </div>
                                </li>
  
                              </ul>
                              <!-- end recent activity -->
  
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                    <button class="btn btn-primary" data-toggle="modal"
                                    data-target=".bs-example-modal-lg"><i class="fa fa-plus m-right-xs"></i> Add School</button>
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                        
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span
                                                                aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">Add School</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="demo-form2" method="post" action="/kids/add-school" data-parsley-validate
                                                            class="form-horizontal form-label-left">
                                                        <input type="hidden" name="id" id="id" value="<%= kid._id %>" />
                                                            <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-3" for="first-name">Business Year <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <select class="form-control" name="businessYear">
                                                                            <% for(var i=2010;i<=2025;i++){ %>
                                                            
                                                            
                                                                                <option value="<%= i %>">
                                                                                    <%= i %>
                                                                                </option>
                                                                                <% } %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3" for="last-name">School Name
                                                                            <span class="required">*</span>
                                                                        </label>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="text" id="last-name2" name="schoolName" required="required"
                                                                                class="form-control col-md-7 col-xs-12">
                                                                        </div>
                                                                    </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-3" for="last-name">Grade
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <select class="form-control col-md-7 col-xs-12" name="grade" id="grade">
                                                                            <% for(var i = 1;i<=12;i++){%>
                                                                                <option><%= i%></option>
                                                                                <%}%>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-3">School Address</label>
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <textarea class="form-control" name="schoolAddress"></textarea>
                                                                    </div>
                                                            
                                                                </div>
                                                            <div class="ln_solid"></div>
                                                            <div class="form-group">
                                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                                    <button class="btn btn-danger" type="button">Cancel</button>
                                                                    <button class="btn btn-primary" type="reset">Reset</button>
                                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                                </div>
                                                            </div>
                        
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button> -->
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                              <!-- start user projects -->
                              <table class="data table table-striped no-margin">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>School Name</th>
                                    <th>Year</th>
                                    <th class="hidden-phone">Grade</th>
                                    <th>School Detail</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% if(kid.kidSchoolDetail.length > 0){
                                        
                                        for(var j =0; j<kid.kidSchoolDetail.length;j++){%>
                                                <tr>
                                                        <td><%= j+1 %></td>
                                                        <td><%= kid.kidSchoolDetail[j].schoolName %></td>
                                                        <td><%= kid.kidSchoolDetail[j].businessYear %></td>
                                                        <td class="hidden-phone"><%= kid.kidSchoolDetail[j].grade %></td>
                                                        <td class="vertical-align-mid">
                                                                <%= kid.kidSchoolDetail[j].schoolAddress %>
                                                        </td>
                                                      </tr>
                                        <%}}%>
                                  
                                </tbody>
                              </table>
                              <!-- end user projects -->
  
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                    <button class="btn btn-primary" data-toggle="modal"
                                    data-target=".bs-example-modal-lg2"><i class="fa fa-plus m-right-xs"></i> Add Roaster</button> <%= kid.kidCourseRoaster.length %>
                                    <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                        
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span
                                                                aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">Add roaster</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="demo-form2" method="post" action="/kids/add-school" data-parsley-validate
                                                            class="form-horizontal form-label-left">
                                                        <input type="hidden" name="id" id="id" value="<%= kid._id %>" />
                                                            <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-3" for="first-name">Grade <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <select class="form-control" name="businessYear">

                                                                            <% if(grades.length>0){
                                                                                for(var i=0;i<grades.length;i++){ %>
                                                            
                                                            
                                                                                <option value="<%= grades[i]._id %>">
                                                                                    <%= grades[i].name %> (<%= grades[i].level %>)
                                                                                </option>
                                                                                <% }} %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label class="control-label col-md-3 col-sm-3" for="last-name">School Name
                                                                            <span class="required">*</span>
                                                                        </label>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="text" id="last-name2" name="schoolName" required="required"
                                                                                class="form-control col-md-7 col-xs-12">
                                                                        </div>
                                                                    </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-3" for="last-name">Grade
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <select class="form-control col-md-7 col-xs-12" name="grade" id="grade">
                                                                            <% for(var i = 1;i<=12;i++){%>
                                                                                <option><%= i%></option>
                                                                                <%}%>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3 col-sm-3">School Address</label>
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <textarea class="form-control" name="schoolAddress"></textarea>
                                                                    </div>
                                                            
                                                                </div>
                                                            <div class="ln_solid"></div>
                                                            <div class="form-group">
                                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                                    <button class="btn btn-danger" type="button">Cancel</button>
                                                                    <button class="btn btn-primary" type="reset">Reset</button>
                                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                                </div>
                                                            </div>
                        
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button> -->
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                                    <div class="x_content">
                                            <ul class="list-unstyled timeline">
                                              <li>
                                                <div class="block">
                                                  <div class="tags">
                                                    <a href="" class="tag">
                                                      <span>Entertainment</span>
                                                    </a>
                                                  </div>
                                                  <div class="block_content">
                                                    <h2 class="title">
                                                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                                </h2>
                                                    <div class="byline">
                                                      <span>13 hours ago</span> by <a>Jane Smith</a>
                                                    </div>
                                                    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                    </p>
                                                  </div>
                                                </div>
                                              </li>
                                              <li>
                                                <div class="block">
                                                  <div class="tags">
                                                    <a href="" class="tag">
                                                      <span>Entertainment</span>
                                                    </a>
                                                  </div>
                                                  <div class="block_content">
                                                    <h2 class="title">
                                                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                                </h2>
                                                    <div class="byline">
                                                      <span>13 hours ago</span> by <a>Jane Smith</a>
                                                    </div>
                                                    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                    </p>
                                                  </div>
                                                </div>
                                              </li>
                                              <li>
                                                <div class="block">
                                                  <div class="tags">
                                                    <a href="" class="tag">
                                                      <span>Entertainment</span>
                                                    </a>
                                                  </div>
                                                  <div class="block_content">
                                                    <h2 class="title">
                                                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                                </h2>
                                                    <div class="byline">
                                                      <span>13 hours ago</span> by <a>Jane Smith</a>
                                                    </div>
                                                    <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                    </p>
                                                  </div>
                                                </div>
                                              </li>
                                            </ul>
                          
                                          </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <%- include('footer.ejs'); %>
